# IDEs
.vscode/
.idea/

# Backend
backend/node_modules/
backend/.wrangler/
backend/dist/
backend/.dev.vars
backend/migrations/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local

# OS
.DS_Store
Thumbs.db
