# Dependencies
node_modules

# Wrangler directories
.wrangler

# Environment variables
.env
.dev.vars

# Build output
dist
worker-sites-content

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?
